body {
    background-color: black;
    color: white;
}

h2 {
    width: 30ch;
    text-wrap: nowrap;
    font-family: monospace;
    overflow: hidden;
    animation: typing 3s steps(20) infinite alternate-reverse;
}


@keyframes typing {
    from {
        width: 0ch;
    }
}