h2 {
    width: 20ch;
    text-wrap: nowrap;
    font-family: monospace;
    overflow: hidden;
    animation: typing 2s steps(20) infinite alternate-reverse;
}


@keyframes typing {
    from {
        width: 0ch;
    }
}